.main {

    background: #057ec4;
    padding: 20px;
    flex-grow: 1;

}

.footer {
    background: #029491;
    position: relative;
    height: 137px;
}

.footer_content {
    display: flex;
    justify-content: space-between;

}

.scan {
    width: 141px;
    height: 111px;
    left: 60px;
    top: -24px;
    margin-left: 60px;
    background-image: url("../../svg/eqw 1.svg");
}


.text_style {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.footer_info {
    margin-right: 45px;
}